<!DOCTYPE html>
<html>
  <head>
    <title>Migration Details</title>
    <%= stylesheet_link_tag 'actual_db_schema/styles', media: 'all' %>
  </head>
  <body>
    <div>
      <h2>Migration <%= migration[:name] %> Details</h2>
      <table>
        <tbody>
          <tr>
            <th>Status</th>
            <td><%= migration[:status] %></td>
          </tr>
          <tr>
            <th>Migration ID</th>
            <td><%= migration[:version] %></td>
          </tr>
          <tr>
            <th>Branch</th>
            <td><%= migration[:branch] %></td>
          </tr>
          <tr>
            <th>Database</th>
            <td><%= migration[:database] %></td>
          </tr>
          <tr>
            <th>Path</th>
            <td><%= migration[:filename] %></td>
          </tr>
        </tbody>
      </table>

      <h3>Migration Code</h3>
      <div>
        <pre><%= File.read(migration[:filename]) %></pre>
      </div>
      <div class='button-container'>
        <%= link_to 'â† Back', migrations_path, class: 'button' %>
      </div>
    </div>
  </body>
</html>
