<!DOCTYPE html>
<html>
  <head>
    <title>Migration Details</title>
    <%= render partial: 'actual_db_schema/shared/js' %>
    <%= render partial: 'actual_db_schema/shared/style' %>
  </head>
  <body>
    <div>
      <% flash.each do |key, message| %>
        <div class="flash <%= key %>"><%= message %></div>
      <% end %>
      <h2>Migration <%= migration[:name] %> Details</h2>
      <table>
        <tbody>
          <tr>
            <th>Status</th>
            <td><%= migration[:status] %></td>
          </tr>
          <tr>
            <th>Migration ID</th>
            <td><%= migration[:version] %></td>
          </tr>
          <tr>
            <th>Branch</th>
            <td><%= migration[:branch] %></td>
          </tr>
          <tr>
            <th>Database</th>
            <td><%= migration[:database] %></td>
          </tr>
          <tr>
            <th>Path</th>
            <td><%= migration[:filename] %></td>
          </tr>
        </tbody>
      </table>

      <h3>Migration Code</h3>
      <div>
        <pre><%= File.read(migration[:filename]) %></pre>
      </div>
      <div class='button-container'>
        <%= link_to '← Back', migrations_path, class: 'button' %>
        <%= button_to '⎌ Rollback',
                      rollback_migration_path(id: migration[:version], database: migration[:database]),
                      method: :post,
                      class: 'button migration-action',
                      style: ('display: none;' if migration[:status] == "down") %>
        <%= button_to '⬆ Migrate',
                      migrate_migration_path(id: migration[:version], database: migration[:database]),
                      method: :post,
                      class: 'button migration-action',
                      style: ('display: none;' if migration[:status] == "up" || migration[:phantom]) %>
      </div>
    </div>
  </body>
</html>
